name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    name: cargo build
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release
      - run: mkdir -p ./release/${{ matrix.os }}
      - if: matrix.os == 'ubuntu-latest'
        run: |
          cp ./target/release/rust-release-test ./release/${{ matrix.os }}/
          tar -C ./release/${{ matrix.os }}/ -czvf ./release/${{ matrix.os }}-x86_64-${{ github.ref }}.tar.gz .
      - if: matrix.os == 'macos-latest'
        run: |
          cp ./target/release/rust-release-test ./release/${{ matrix.os }}/
          tar -C ./release/${{ matrix.os }}/ -czvf ./release/${{ matrix.os }}-x86_64-${{ github.ref }}.tar.gz .
      - if: matrix.os == 'windows-latest'
        run: |
          cp ./target/release/rust-release-test.exe ./release/${{ matrix.os }}/
          Compress-Archive -Path ./release/${{ matrix.os }}/* -DestinationPath ./release/${{ matrix.os }}-x86_64-${{ github.ref }}.zip
      - run: rm -r ./release/${{ matrix.os }}
      - uses: softprops/action-gh-release@v1
        with:
          files: ./release/*
