name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    name: cargo build
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release
      - uses: softprops/action-gh-release@v1
        with:
          files: ./target/release/rust-release-test
