name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    name: cargo build
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release
      - if: matrix.os == 'ubuntu-latest'
        run: |
          mkdir release
          cp ./target/release/rust-release-test ./release/rust-release-test-ubuntu-latest
      - if: matrix.os == 'macos-latest'
        run: |
          mkdir release
          cp ./target/release/rust-release-test ./release/rust-release-test-macos-latest
      - if: matrix.os == 'windows-latest'
        run: |
          mkdir release
          cp ./target/release/rust-release-test.exe ./release/rust-release-test-ubuntu-latest.exe
      - uses: softprops/action-gh-release@v1
        with:
          files: ./release/*
